<h1>some other crap including all the templates which you see based on your admin status</h1>
<h1>Welcome to burning airlines</h1>

<div class="main"></div>

<script id="loginView" type="text/template">
  <p>Template for login page</p>
  <h1>Please Login to continue</h1>
  <div id="emailForm">Textarea view goes here</div>
  <div id="passwordForm">Textarea view goes here</div>

</script>

<script id="appViewTemplate" type='text/template'>
  <p>appViewTemplate(test item -remove)<p>

</script>

<script id="headerViewTemplate" type='text/template'>
  <button id="header_button1" class="header_button">BUTTON 1</button>
  <button id="header_button2" class="header_button">BUTTON 2</button>
  <button id="header_button3" class="header_button">BUTTON 3</button>
</script>

<script id="controlsViewTemplate" type='text/template'>
  <p>Controls View (test item remove)<p>

</script>

<script id="aeroplaneContentTemplate" type='text/template'>
  <h1>Our Mighty Fleet</h1>
  <ul id="aeroplaneData"></ul>
</script>

<script id="aeroplaneAddTemplate" type='text/template'>
  <h1>Build a plane</h1>
  <label for="Airplane Name: ">Plane name here</label>
  <input type="text" .class="controls" id="aeroplaneName" />
  <label for="Airplane Name: ">number of Rows</label>
  <input type="text" .class="controls"  id="aeroplaneRows"/>
  <label for="Airplane Name: ">Plane name columns</label>
  <input type="text" .class="controls"  id="aeroplaneColumns"/>
  <button id="addPlaneButton" class="controls">Create!</button>
</script>
<!-- THE BELOW WILL BE RENDERED IN CODE (THE WHOLE TABLE)
<script id="aeroplaneAddContent" type='text/template'>
  <h4 id="planeName" class="content_h4"></h4>
  <table style="width:100%" class="content_table">
    <tr id="planeRow_content" class="content_table_row">
</script> -->

<script id="searchControlsTemplate" type='text/template'>
  <h1>Search for flights</h1>
  <label for="From: ">Departure airport</label>
  <input type="text" .class="controls" id="searchFrom" />
  <label for="To: ">Arrival airport</label>
  <input type="text" .class="controls"  id="searchTo"/>
  <button id="searchButton" class="controls">Search!</button>
</script>

<script id="searchContent" type="text/template">
  <table id="searchContentTable">
    <tr>
      <th>Date</th>
      <th>Flight</th>
      <th>From/To</th>
      <th>Plane</th>
    </tr>
  </table>
</script>



<script id="createFlight" type="text/template">
  <div id="flightsCreate">
    <input id="flightDate" type="date">
    <select id="flightStart"></select>
    <select id="flightEnd"></select>
    <select id="flightPlane"></select>
    <button id="flightCancel">Cancel</button>
    <button id="flightSave">Save</button>
  </div>
</script>


<script id="flightsViewTemplate" type="text/template">
  <div>
    <table id="flightsContentTable">
      <tr>
        <th>Date</th>
        <th>Flight</th>
        <th>From/To</th>
        <th>Plane</th>
        <th>Seats</th>
      </tr>
    </table>
  </div>
</script>
