<h1>some other crap including all the templates which you see based on your admin status</h1>

<div class="main"></div>

<script id="loginView" type="text/template">
  <p>Template for login page</p>
  <h1>Please Login to continue</h1>
  <div id="emailForm">Textarea view goes here</div>
  <div id="passwordForm">Textarea view goes here</div>

</script>

<script id="appViewTemplate" type='text/template'>
  <p>appViewTemplate(test item -remove)<p>

</script>

<script id="headerViewTemplate" type='text/template'>
  <p>Controls View (test item remove)<p>

</script>

<script id="controlsViewTemplate" type='text/template'>
  <p>Controls View (test item remove)<p>

</script>

<script id="aeroplaneContentTemplate" type='text/template'>
  <h1>Our Mighty Fleet</h1>
  <ul id="aeroplaneData"></ul>

</script>

<script id="aeroplaneAddTemplate" type='text/template'>
  <h1>Build a plane</h1>
  <label for="Airplane Name: ">Type name here</label>"
  <input type="text" .class="textinput"  />

</script>

<script id="flightsContent" type="text/template">
  <table id="flightsContentTable">
    <tr>
      <th>Date</th>
      <th>Flight</th>
      <th>From/To</th>
      <th>Plane</th>
      <th>Seats</th>
    </tr>
  </table>
</script>

<script id="flightAddTemplate" type="text/template">
  <input type="select">
  <input type="select">
  <input type="select">
  <input type="select">
  <input type="select">
</script>
