<h1>some other crap including all the templates which you see based on your admin status</h1>

<div class="main"></div>



<script id="appViewTemplate" type='text/template'>
  <p>appViewTemplate(test item -remove)<p>

</script>

<script id="headerViewTemplate" type='text/template'>
  <p>Controls View (test item remove)<p>

</script>

<script id="controlsViewTemplate" type='text/template'>
  <p>Controls View (test item remove)<p>

</script>

<script id="aeroplaneContentTemplate" type='text/template'>
  <h1>Our Mighty Fleet</h1>
  <ul id="aeroplaneData"></ul>

</script>

<script id="flightsContent" type="text/template">
  <table>
    <tr>
      <th>Date</th>
      <th>Flight</th>
      <th>From/To</th>
      <th>Plane</th>
      <th>Seats</th>
    </tr>

  </table>

</script>
