<div class="main"></div>



<script id="appViewTemplate" type='text/template'>
  <p>appViewTemplate(test item -remove)<p>

</script>

<script id="headerViewTemplate" type='text/template'>
  <p>Controls View (test item remove)<p>

</script>

<script id="controlsViewTemplate" type='text/template'>
  <p>Controls View (test item remove)<p>

</script>

<script id="aeroplaneContentTemplate" type='text/template'>
  <p>Controls View (test item remove)<p>
    <p id="temp">Aeroplane Name: {{= name }}</p>
    <p>Rows: {{= rows }}</p>
    <p>Columns: {{= columns }}</p>
</script>
