<h1>Burning Airlines</h1>
<div class="main"></div>

<script id="loginView" type="text/template">
  <p>Template for login page</p>
  <h1>Please Login to continue</h1>
  <div id="emailForm">Textarea view goes here</div>
  <div id="passwordForm">Textarea view goes here</div>

</script>

<script id="appViewTemplate" type='text/template'>
  <p>appViewTemplate(test item -remove)<p>

</script>

<script id="headerViewTemplate" type='text/template'>
  <div class="nav-button-bar">
    <button id="header_button1" class="header_button"><img class="icon-1" src="/assets/caution-button-round.png" alt="" /><br>BUTTON 1</button>
    <button id="header_button2" class="header_button"><img class="icon-1" src="/assets/plane-fire.png" alt="" /><br>BUTTON 2</button>
    <button id="header_button3" class="header_button"><img class="icon-1" src="/assets/building-icon.png" alt="" /><br>BUTTON 3</button>
  </div>
</script>

<script id="controlsViewTemplate" type='text/template'>
  <p>Controls View (test item remove)<p>

</script>

<script id="aeroplaneContentTemplate" type='text/template'>
  <h1>Our Mighty Fleet</h1>
  <ul id="aeroplaneData"></ul>
</script>

<script id="aeroplaneAddTemplate" type='text/template'>
  <h3>Build a plane</h3>
  <label for="Airplane Name: ">Plane name here</label>
  <input type="text" .class="controls" id="aeroplaneName" />
  <label for="Airplane Name: ">number of Rows</label>
  <input type="text" .class="controls"  id="aeroplaneRows"/>
  <label for="Airplane Name: ">Plane name columns</label>
  <input type="text" .class="controls"  id="aeroplaneColumns"/>
  <button id="addPlaneButton" class="controls">Create!</button>
</script>

<script id="searchControlsTemplate" type='text/template'>
  <h1>Search for flights</h1>
  <label for="From: ">Departure airport</label>
  <input type="text" .class="controls" id="searchFrom" />
  <label for="To: ">Arrival airport</label>
  <input type="text" .class="controls"  id="searchTo"/>
  <button id="searchButton" class="controls">Search!</button>
</script>

<script id="searchContent" type="text/template">
  <table id="searchContentTable">
    <tr>
      <th>Date</th>
      <th>Flight</th>
      <th>From/To</th>
      <th>Plane</th>
    </tr>
  </table>
</script>



<script id="createFlight" type="text/template">
  <div id="flightsCreate">
    <input id="flightDate" type="date">
    <select id="flightStart"></select>
    <select id="flightEnd"></select>
    <select id="flightPlane"></select>
    <button id="flightCancel">Cancel</button>
    <button id="flightSave">Save</button>
  </div>
</script>

<script id="flightsViewTemplate" type="text/template">
  <div>
    <table id="flightsContentTable">
      <tr>
        <th>Date</th>
        <th>Flight</th>
        <th>From/To</th>
        <th>Plane</th>
        <th>Seats</th>
      </tr>
    </table>
  </div>
</script>


<script id="searchContentTemplate" type="text/template">

    <table id="searchContentTable">
      <tr>
        <th>Date</th>
        <th>Flight</th>
        <th>From/To</th>
        <th>Plane</th>
      </tr>
    </table>

</script>
