<div class="main"></div>



<script id="airplanes" type='text/template'></script>

<script id="flights" type='text/template'></script>

<script id="search" type='text/template'></script>

<script id="flight" type='text/template'></script>
